:root {
	/* light mode colors */
	--color-background: #ffffff;
	--color-surface: #fefefe;
	--color-surface-muted: #f2f2f2;

	--color-brand: #4a3e33;
	--color-primary: #a86a3c;
	--color-primary-hover: #8c5630;

	--color-secondary: #d4a373;
	--color-secondary-hover: #a87c54;

	--color-accent: #888888;
	--color-accent-hover: #555555;

	--color-on-bg: #ffffff;

	--color-base: #2a2a2a;

	--color-link: #c46228;
	--color-link-hover: #a74f1f;

	--color-error-bg: #f9e7e4;
	--color-error: #a7382f;

	--color-info-bg: #e8f0fb;
	--color-info: #32507a;

	--color-success-bg: #e6f4ea;
	--color-success: #3a7d44;

	--color-warning-bg: #fff8e1;
	--color-warning: #d18e00;
}

.dark {
	/* dark mode colors */
	--color-background: #1a1a18;
	--color-surface: #12110f;
	--color-surface-muted: #2a2a2a;

	--color-brand: #d4c8ba;
	--color-primary: #d08a58;
	--color-primary-hover: #bb6e3b;

	--color-secondary: #d6b287;
	--color-secondary-hover: #b38659;

	--color-accent: #aaaaaa;
	--color-accent-hover: #dddddd;

	--color-on-bg: #1a1a18;

	--color-base: #f2f2f2;

	--color-link: #f08b45;
	--color-link-hover: #d47028;

	--color-error-bg: #3a1a1a;
	--color-error: #e76b5b;

	--color-warning-bg: #3b3200;
	--color-warning: #ffbe55;

	--color-info-bg: #1f2a40;
	--color-info: #5caeff;

	--color-success-bg: #1e3322;
	--color-success: #7ed992;
}

@theme {
	/* breakpoints */
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 976px;

	/* font */
	--font-primary: 'Pretendard', 'system-ui', 'sans-serif';

	/* colors */
	--color-brand: var(--color-brand);
	--color-background: var(--color-background);
	--color-surface: var(--color-surface);
	--color-surface-muted: var(--color-surface-muted);
	--color-primary: var(--color-primary);
	--color-primary-hover: var(--color-primary-hover);
	--color-secondary: var(--color-secondary);
	--color-secondary-hover: var(--color-secondary-hover);
	--color-accent: var(--color-accent);
	--color-accent-hover: var(--color-accent-hover);
	--color-on-bg: var(--color-on-bg);
	--color-base: var(--color-base);
	--color-link: var(--color-link);
	--color-link-hover: var(--color-link-hover);
	--color-error: var(--color-error);
	--color-error-bg: var(--color-error-bg);
	--color-info: var(--color-info);
	--color-info-bg: var(--color-info-bg);
	--color-success: var(--color-success);
	--color-success-bg: var(--color-success-bg);
	--color-warning: var(--color-warning);
	--color-warning-bg: var(--color-warning-bg);

	/* overlay */
	--color-overlay-bg: rgba(0, 0, 0, 0.3);
}

@layer base {
	body {
		@apply font-primary;
	}
}
